Кому: АО "Центр развития торговой политики QazTrade"

От кого: {{ .From }}

Государственная регистрация/перерегистрация:
{{ .GovReg }}

Фактический адрес: {{ .FactAddr }}

БИН/ИИН: {{ .Bin }}

Наименование отрасли: {{ .Industry }}

Вид деятельности: {{ .Activity }}

Численность сотрудников: {{ .EmpCount }}

Производственная мощность, возможности увеличения: {{ .ProductCapacity }}

Производитель: {{ .Manufacturer }}

Товар: {{ .Item }}

Объем товара: {{ .ItemVolume }}

Объем фактической валютной выручки за полугодие предшествующей дате подачи заявки:
{{ .FactVolumeEarnings }}

Фактическая загруженность производства: {{ .FactWorkload }}

Руководитель:
{{ .ChiefLastname }} {{ .ChiefFirstname }} {{ .ChiefMiddlename }} {{ .ChiefPosition }} {{ .ChiefPhone }}

Контактное лицо, заполнившее заявку на возмещение:
{{ .ContLastname }} {{ .ContFirstname }} {{ .ContMiddlename }} {{ .ContPosition }} {{ .ContPhone }} {{ .ContEmail }}

Сведения о реализуемых отечественных обработанных товарах и/или о предоставляемых ИКУ
{{ .InfoManufacturedGoods }}

Наименование товаров с указанием товарной позиции на уровне 6 и более знаков ЕТН
ВЭД ЕАЭС и/или ИКУ на уровне не менее 4 знаков ОКВЭД:
{{ .NameOfGoods }}
