Данной заявкой субъект индустриально-инновационной деятельности подтверждает достоверность представленных документов, информации, исходных данных, расчетов, обоснований, а также, что заявленные на возмещение затраты ранее не возмещались, не финансируются и не профинансированы за счет средств республиканского и/или местного бюджетов в рамках текущих или иных мер государственной поддержки, предусмотренных законодательством Республики Казахстан в области предпринимательства, а также соответствуют пункту 3 Правил.

{{ .ChiefLastname }} {{ .ChiefFirstname }} {{ .ChiefMiddlename }}

{{ .ApplicationDate }}
