Кому: АО "Центр развития торговой политики QazTrade"

От кого: {{ .From }}

Государственная регистрация/перерегистрация: {{ .GovReg }}

Фактический адрес: {{ .FactAddr }}

БИН/ИИН: {{ .Bin }}

Наименование отрасли: {{ .Industry }}

Индустрия, если выбрано "Иное": {{ .IndustryOther }}

Вид деятельности: {{ .Activity }}

Численность сотрудников: {{ .EmpCount }}

Сумма уплаченных налогов без учета косвенных налогов (налог на добавленную стоимость и акцизы) в году, предшествующем году подачи заявки:
{{ .TaxSum }}

Производственная мощность, возможности увеличения: {{ .ProductCapacity }}

Производитель: {{ .Manufacturer }}

Товар: {{ .Item }}

Объем товара: {{ .ItemVolume }}

Объем фактической валютной выручки за полугодие предшествующей дате подачи заявки:
{{ .FactVolumeEarnings }}

Фактическая загруженность производства: {{ .FactWorkload }}

Руководитель:
{{ .ChiefLastname }} {{ .ChiefFirstname }} {{ .ChiefMiddlename }} {{ .ChiefPosition }} {{ .ChiefPhone }}

Контактное лицо, заполнившее заявку на возмещение:
{{ .ContLastname }} {{ .ContFirstname }} {{ .ContMiddlename }} {{ .ContPosition }} {{ .ContPhone }} {{ .ContEmail }}

Сведения о реализуемых отечественных обработанных товарах и/или о предоставляемых ИКУ
{{ .InfoManufacturedGoods }}

Наименование товаров с указанием товарной позиции на уровне 6 и более знаков ЕТН ВЭД ЕАЭС и/или ИКУ на уровне не менее 4 знаков ОКВЭД:
{{ .NameOfGoods }}

Информация о планируемом (целевом) использовании бюджетных средств, полученных в рамках Правил

Каким образом планируется использовать (освоить) государственные средства, полученные в рамках Правил?
{{ .SpendPlan }}

Если выбрано "Другое":
{{ .SpendPlanOther }}

По итогам вышеуказанных мероприятий будут достигнуты следующие показатели
Объем экспорта 2022: {{ .Metrics2022 }} тыс. тенге
Объем экспорта 2023: {{ .Metrics2023 }} тыс. тенге
Объем экспорта 2024: {{ .Metrics2024 }} тыс. тенге
Объем экспорта 2025: {{ .Metrics2025 }} тыс. тенге

Наличие соглашения о промышленной сборке: {{ .HasAgreement }}

Общая сумма заявляемых к возмещению части затрат: {{ .ExpensesSum }} тенге

Затраты, указанные в заявки способствовали развитию бизнеса:
{{ .ExpensesList }}
